<div class="container p-t-5">
  <form #myForm="ngForm">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-5">
          <mat-form-field class="nameCode">
            <input name="clientCode" matInput placeholder="Enter Client code" [(ngModel)]="clientCode"
               required>
              <mat-error *ngIf="clientCode.length==0">Client Code cannot be blank</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
          <mat-form-field class="nameCode">
            <input name="clientName" matInput placeholder="Enter Client name" [(ngModel)]="clientName" required>
            <mat-error *ngIf="clientName.length==0">Client Name cannot be blank</mat-error>
          </mat-form-field>
        </div>
      </div>
      <br>
      <mat-form-field class="nameCode">
        <textarea matInput name="userNotes" [(ngModel)]="userNotes" placeholder="User Comments"></textarea>
      </mat-form-field>
    </div>
  </form>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <button class="background-primary-color white-text btnWidth" (click)="createNewClient()"
          mat-button>Save</button>
      </div>
      <div class="col-sm-3">
        <button class="background-primary-color white-text btnWidth" (click)="myForm.reset()" mat-button>Cancel</button>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
     <p *ngIf="require" class="mandat">* Please enter all the required fields</p>
    </div>
  </div>
  