body{
    height:100%;

}

.body-text{
    font-family: sans-serif;
    font-weight: 500;
}

.page-heading{
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
}

.move-left{
    width: 100%; 
    display: flex; 
    align-items: flex-start;
    text-align: left;
}

.extend-element{
    width:90%;
}

.extend-element-medium{
    width:70%;
}