.body-text{
    font-family: sans-serif;
    font-weight: 500;
}

.page-heading{
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
}

.move-left{
    width: 100%; 
    display: flex; 
    align-items: flex-start;
    text-align: left;
}

#carrier-div{
    /* height:100% !important;
    width: 100%; 

    display: flex; 
    align-items: flex-start;
    text-align: left; */
    margin: 0;
    padding:0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width:100%;
    
}

#carrier-field {

    margin-bottom: 0;
    padding-bottom:0; 

    width:90%;
    height:70%;
    /* right:90%; */
    order: 1;

}

#carrier-errmsg {

    margin-bottom: 0;
    padding-bottom:0; 

    position: relative;

    
    height:30%;
    right:100%;   
    top:60%;     
    order: 2;
    
    color:red;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

#carrier-div2{
    /* height:100% !important;
    width: 100%; 

    display: flex; 
    align-items: flex-start;
    text-align: left; */
    margin: 0;
    padding:0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width:100%;
    
}

#carrier-field2 {

    margin-bottom: 0;
    padding-bottom:0; 

    width:130%;
    height:70%;
    
    order: 1;

}

#carrier-errmsg2 {

    margin-bottom: 0;
    padding-bottom:0; 

    position: relative;

    
    height:30%;
    right:100%;   
    top:60%;     
    order: 2;
    
    color:red;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.extend-element{
    width:90%;
}

.extend-element-medium{
    width:70%;
}

#save-btn{
    width: 100%; 
    display: flex; 
    align-items: flex-start;
    padding-left: 80%;
}

#cancel-btn{
    width: 100%; 
    display: flex; 
    align-items: flex-start;
    padding-left: 5%;
}

