<form   #createForm="ngForm" name="createForm"> 
<mat-grid-list cols="10" rowHeight="70px" gutterSize="0px">
    <mat-grid-tile
        [colspan]="2"
        [rowspan]="8"
        [style.background]=colors[1]> 
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="6"
        [rowspan]="1"
        [style.background]=colors[0]> 
        <h3 class="page-heading">{{page_heading}}</h3>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="2"
        [rowspan]="8"
        [style.background]=colors[1]> 
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
        [style.background]=colors[0]> 

        <div id="carrier-div">  
        
        <mat-form-field id="carrier-field">
                <input matInput [(ngModel)]="carrierCode" name="carrierCode" placeholder="Carrier Code*" maxlength="4" oninput="this.value = this.value.toUpperCase()">
        </mat-form-field>

        <p *ngIf="showErrMsg1" id="carrier-errmsg">
            Please provide a carrier code..
        </p>

        </div>

    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
        [style.background]=colors[0] > 

        <div id="carrier-div2">  
        
        <mat-form-field id="carrier-field2">
            <input matInput [(ngModel)]="carrierName" name="carrierName" placeholder="Carrier Name*">
            
        </mat-form-field>

        <p *ngIf="showErrMsg2" id="carrier-errmsg2">
            Please provide a carrier name..
        </p>

        </div>

    </mat-grid-tile>
    
    <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
        [style.background]=colors[0]> 

        <div class="move-left">  
        <!-- <h4 id="body-text">Carrier Type: </h4><br/> -->
        <mat-form-field class="extend-element"> 
            <mat-label>Carrier Type</mat-label> 
            <mat-select [(ngModel)]="carrierType" name="carrierType">
                <mat-option value="1">Biggie</mat-option>     
                <mat-option value="2">Non-Biggie</mat-option>               
            </mat-select>
        </mat-form-field>
        </div>

    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
        [style.background]=colors[2]> 

    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
        [style.background]=colors[0]> 
        
        <div class="move-left">  
        <!-- <h4 id="body-text">Primary Ingenix Biggie Contact: </h4><br/> -->
        <mat-form-field class="extend-element">
            <mat-label>Primary Ingenix Biggie Contact: </mat-label>
            <mat-select  [(ngModel)]="carrierPrimary" name="carrierPrimary">
                <mat-option *ngFor="let cont of contacts" value="{{cont}}">{{cont}}</mat-option>   
            </mat-select>
        </mat-form-field>
        </div>

    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
        [style.background]=colors[0]> 
        
        <div class="move-left">  
        <!-- <h4 id="body-text">Secondary Ingenix Biggie Contact: </h4><br/> -->
        <mat-form-field class="extend-element">
            <mat-label>Secondary Ingenix Biggie Contact:</mat-label>
            <mat-select  [(ngModel)]="carrierSecondary" name="carrierSecondary" >
                <mat-option *ngFor="let cont of contacts" value="{{cont}}">{{cont}}</mat-option>
            </mat-select>
        </mat-form-field>
        </div>

    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
        [style.background]=colors[0]> 
        
        <div class="move-left">  
        <!-- <h4 id="body-text">Halt Indicator: </h4><br/> -->
        <mat-checkbox (change)="carrierHaltEv($event)" [(ngModel)]="carrierHalt" name="carrierHalt" color="primary" labelPosition="before" required>Halt Indicator:</mat-checkbox>
        </div>
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="6"
        [rowspan]="2"
        [style.background]=colors[0]> 
        
        <!-- <h4 id="body-text">User Comments: </h4><br/> -->
        <mat-form-field style="width:60%;">
            <textarea [(ngModel)]="carrierUserComments" name="carrierUserComments" matInput placeholder="User Comments here.."h4></textarea>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
        [style.background]=colors[0]>    
        
        <div id="save-btn">
            <button mat-raised-button (click)="createCar(createForm)" name="carrierSave">Save</button>
        </div>
        
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
        [style.background]=colors[0]>         

        <div id="cancel-btn">
            <button mat-raised-button (click)="cancelCar(createForm)" name="carrierCancel">Cancel</button>
        </div>
    </mat-grid-tile>

</mat-grid-list>
</form>


