<div id="main-content">
        <h3>Ingenix Data Services Organization (DSO)</h3>

        <p>The Ingenix Data Services Organization (DSO) processes and integrates more than 
                150 million service records annually from more than 400 diverse health and productivity
                related data sources. These include, for example, medical, drug, health risk appraisal, 
                enrollment, illness/absence, disability and workers' compensation data. </p>
        
        <p>Data quality assurance and ETL (Extract, Transform and Load) processes are critical 
                components of our services. The market demands faster data delivery, higher level of 
                data quality and less manual/cost effective data management solutions. This DSO 
                process is designed to ensure quality while meeting aggressive customer deliverables</p>
        

</div>